<%- include('partials/header')%>

<div class="container">
    <div class="jumbotron">
        <h1>WELCOME TO YELPCAMP</h1>
        <p>
            At YelpCamp Lorem r obca reprehenderit aspernatur, quis pariatur asperiores? Blanditiis exercitationem distinctio, eum ratione nam voluptate mollitia ipsum maxime dolorem quo ab, velit error? Eveniet dolorum fuga reprehenderit iste ex perspiciatis, maiores quasi dicta natus voluptatum repellat quas quibusdam quae praesentium, libero doloremque. Ducimus, repellat dicta labore vero dolore porro dolor consequatur volupt</p>
        <p><a href="/campgrounds">View Campgrounds</a></p>
    </div>
</div>



<%- include('partials/footer')%>